html 
	head
		title User Card
		link(href="css/main.css" rel="stylesheet")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet")
		meta(charset="utf-8")
		meta(name='viewport', content='width=device-width, initial-scale=1')

	body
		div.container-fluid
			div.row.well
				div.col-md-12
					button(type="button")#getusersbtn.btn.btn-primary fetch some cards...
			div.row.clearfix

					div.col-md-4
						div.panel.panel-primary
							div.panel-heading
								span 
									| Slider
							div.panel-body.clearfix
								div.row.clearfix
									div(data-role="slider-wrapper").col-md-12.clearfix
									
							div.panel-footer.clearfix
								button(type="button" data-role="btnPrev").btn.btn-info#btnprev prev
								button(type="button" data-role="btnRun").btn.btn-info#btnplay pause/resume
								button(type="button" data-role="btnNext").btn.btn-info#btnnext next


			div.row(data-role="cards-wrapper").clearfix
		script(type="text/javascript" src="js/main.js")
		//- script(type="text/javascript" src="js/validator.js")