div.col-md-4(data-role="emptycard")
	div.panel.panel-danger
		div.panel-heading
			span(data-role="title")
		div.panel-body
			div.row.row-eq-height
				div.col-md-4(data-role="image")
				div.col-md-8
					ul.list-group 
						li.list-group-item.list-group-item-info
							span.glyphicon.glyphicon-user
							span  
							span(data-role="firstName")
						li.list-group-item.list-group-item-info
							span.glyphicon.glyphicon-user
							span  
							span(data-role="secondName")
						li.list-group-item.list-group-item-info
							span.glyphicon.glyphicon-earphone
							span  
							span(data-role="phone")
						li.list-group-item.list-group-item-info
							span.glyphicon.glyphicon-envelope
							span  
							span(data-role="email")
		div.panel-footer.clearfix
			button(type="button" data-role="btnclose").btn.btn-danger.pull-right close card