div.usercard(data-role="emptycard")
	div.title(data-role="title") userCard
	div.photo
		img(data-role="firstName" alt="_" src="images/avatar.jpg")
	div.text
		div(data-role="firstName") ---
		div(data-role="secondName") ---
		div(data-role="phone") ---