div.col-md-4(data-role="emptycard")
	div.panel.panel-primary
		div.panel-heading
			span(data-role="title")
		div.panel-body
			div.row.row-eq-height
				div.col-md-4(data-role="image")

				div.col-md-8
					ul.list-group
						li.list-group-item.list-group-item-info
							div.row
								div.col-md-2
									span.glyphicon.glyphicon-user
								div.col-md-10
									span(data-role="firstName")
						li.list-group-item.list-group-item-info
							div.row
								div.col-md-2
									span.glyphicon.glyphicon-user
								div.col-md-10
									span(data-role="secondName")
						li.list-group-item.list-group-item-info
							div.row
								div.col-md-2
									span.glyphicon.glyphicon-earphone
								div.col-md-10
									span(data-role="phone")
						li.list-group-item.list-group-item-info
							div.row
								div.col-md-2
									span.glyphicon.glyphicon-envelope
								div.col-md-10
									span(data-role="email")
		div.panel-footer.clearfix
			button(type="button" data-role="btnclose").btn.btn-danger.pull-right close card
			button(type="button" data-role="btnanimate").btn.btn-info animate!
			button(type="button" data-role="btnedit").btn.btn-info Edit
			button(type="button" data-role="btnsave").btn.btn-info.hide Save