
html,body{

	height: 100%;
	width: 100%;
	font-size: 1vw;
	background-color: #FFFFFF; //$bgcolor;
}

[data-role="emptycard"]{
	opacity: 0;
	transform: rotate(0deg);
	transition-duration: 0.8s;
}

[data-role="usercard"]{
	opacity: 0;
	transform: rotate(0deg);
	transition-duration: 0.8s;
}

.show1  {
	transition-duration: 0.8s;
	opacity: 1;
}
img {
background: url(/images/avatar.jpg);
background-size: cover;
}

.rotated {
transform: rotate(180deg);
}

div.form-group{
	margin-bottom: 0px;
}

div>.input-sm {
height: 20px;
}

[data-role="slider-content"]{
	border: 1px dotted black;
	overflow:hidden;
		position:relative;
		margin: auto auto;
		top:0;
		left:0;
		right:0;
		bottom:0;
		
	div[data-role="slide"] {
		border: 10px solid white;
		position:absolute;
		top:0;
		left:0;
		background-position: top center;
		background-size: cover;
	}
	.left {
		transform: translateX(-100%);
	
	}
	.right {
		transform: translateX(100%);
		
	}
	.anim {
		transition-duration: 1s;
	//	transition-timing-function: linear;
	}

.controls {
	position:absolute;
	left:0;
	right:0;
	bottom:10%;
	top:auto;
	margin: auto auto;
	display:flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;


	.slide{
		display:inline-block;
		position:relative;
		height:10px;
		width:10px;
		margin: 2px;
		border: 1px solid white; 
		border-radius:50%;
		background-color: transparent;
	}

	.current {
		display:inline-block;
		position:relative;
		height:10px;
		width:10px;
		margin:2px;
		border: 1px solid white; 
		border-radius:50%;
		background-color: white;
	}
	

}
}
